/* .sneakers{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 150px;
    background-color: #f0f0f045;
}

.sneakersHeading{
    margin-left: 50px;
}

@media only screen and (max-width: 768px){

    .sneakers{
        padding-top: 200px;
    }

    .sneakersHeading{
        margin-left: 90px;
    }
} */