
.adminProducts {
    margin: 50px 20px;
    position: relative;
    top: 80px;
}

.productsHeading {
    margin: 20px 0px ;
}

.totalProducts, .disabledProducts {
    margin: 10px 0;
    font-family: sans-serif;
    display: flex;
    justify-content: end;
}

.proTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 100px;
}

.proTable th, .proTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.proTable th {
    background-color: #f2f2f2;
    text-align: left;
}

.proTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.proTable tbody tr:hover {
    background-color: #ddd;
}

.productImg {
    height: 100px;
    max-width: 100px;
}

.name, .description, .category, .gender, .price, .actions {
    font-family: sans-serif;
}

.actions button {
    width: 100px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
}

.editBtn {
    background-color: #ff5a5a;
    color: white;
}

.disableBtn {
    background-color: #249118;
    color: white;
}

.enableBtn {
    background-color: #ff5a5a;
    color: white;
}

.deleteBtn {
    background-color: #ff5a5a;
    color: white;
}

.enableBtn:hover, .editBtn:hover, .deleteBtn:hover{
    background-color: #dd0404;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .adminProducts {
        margin: 30px 10px;
        position: relative;
        top: 120px;
    }

    .productsHeading {
        margin: 10px 0;
        font-size: 24px;
    }

    .totalProducts, .disabledProducts {
        margin: 5px 0;
        font-size: 20px;
    }

    .proTable th, .proTable td {
        padding: 6px;
    }

    .productImg {
        height: 150px;
        max-width: 120px;
    }

    .actions button {
        height: 35px;
        width: 80px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .adminProducts {
        margin: 20px 5px;
        position: relative;
        top: 150px;
    }

    .productsHeading {
        font-size: 20px;
    }

    .totalProducts, .disabledProducts {
        font-size: 12px;
    }

    .proTable th, .proTable td {
        padding: 4px;
    }

    .productImg {
        height: 120px;
        max-width: 100px;
    }

    .actions button {
        height: 30px;
        width: 70px;
        font-size: 10px;
    }
}
