.adminProducts{
    margin: 100px 20px;
}

.adminProducts h1{
    margin: 20px 0px;
}

.adminProducts h3{
    margin: 10px 0px;
    font-family: sans-serif;
    display: flex;
    justify-content: end;
}

.proTable{
    width: 100%;
    border-collapse: collapse;
}

.proTable th, .proTable td {
    border : 1px solid #ddd;
    padding: 8px;
}

.proTable th{
    background-color: #f2f2f2;
    text-align: left;
}

.proTable tbody tr:nth-child(even){
    background-color: #f2f2f2;
}

.proTable tbody tr:hover{
    background-color: #ddd;
}

.adminProTableBtn {
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    border: none;
    background-color: #ff5a5a;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    font-family: sans-serif;
    cursor: pointer;
}

.adminProTableBtn:hover{
    background-color: #ff3e3e;
}