.luxury {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 150px;
    background-color: #f0f0f045;
}

.luxuryHeading{
    margin-left: 50px;
}

.luxuryGrids{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
    row-gap: 30px;
    column-gap: 10px;
    margin: 50px 0px;
}

.luxuryGrid{
    width: 350px;
    height: 500px;
}

.luxuryProductImg{
    background-color: burlywood;
    height: 350px;
    width: 350px;
}

.luxuryProductDetails{
    margin: 20px 0px;
}

.luxuryProductDetails h2 {
    margin-bottom: 5px;
}

.luxuryProductDetails h3 {
    color: #ff4444;
    font-size: 25px;
    margin-bottom: 5px;
}

.luxuryProductDetails p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis ;
}


@media only screen and (max-width: 768px){

    .luxury{
        padding-top: 200px;
    }

    .luxuryGrids{
        grid-template-columns: auto;
    }

    .luxuryHeading{
        margin-left: 90px;
    }
}