.adminHome{
    margin: 100px 20px;
}

.adminHome h1{
    margin: 20px 0px;
}

.adminHome h3{
    margin: 10px 0px;
    font-family: sans-serif;
    display: flex;
    justify-content: end;
}

.adminUserTable{
    display: flex;
    justify-content: center;
}

.userListTable{
    width: 100%;
    border-collapse: collapse;
}

.userListTable th, .userListTable td {
    border : 1px solid #ddd;
    padding: 8px;
}

.userListTable th{
    background-color: #f2f2f2;
    text-align: left;
}

.userListTable tbody tr:nth-child(even){
    background-color: #f2f2f2;
}

.userListTable tbody tr:hover{
    background-color: #ddd;
}

.adminUserListBlock {
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
}
#admUserListUnblock{
    background-color: #3dbb3d;
}
#admUserListUnblock:hover{
    background-color: #227d18;
}

#admUserListBlock{
    background-color: #ff5a5a;
}
#admUserListBlock:hover{
    background-color: #981313;
}

@media (max-width: 768px) {
    .adminHome{
        position: relative;
        top: 80px;
    }
}