@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: rgb(243, 243, 243);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.transHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.headerName a {
  text-decoration: none;
  color: black;
}

.headerName h2 {
  font-size: 2em;
  font-family: "Play", sans-serif;
}

.headerLinks {
  display: flex;
  flex-direction: row;
}

.headerLinks a {
  text-decoration: none;
}

.headerLinksIndividual {
  padding: 10px 20px;
  border-radius: 5px;
  height: 45px;
}

.headerLinksIndividual:hover {
  background-color: rgb(233, 233, 233);
}

.headerLinksIndividual p {
  color: black;
}

.headerSearchBox input {
  padding: 10px 20px;
  margin: 5px 10px;
  border: none;
  background-color: rgb(233, 233, 233);
  border-radius: 20px;
}

.headerButtons {
  display: flex;
  flex-direction: row;
}

.headerButtons a {
  margin: 0px 5px;
  padding: 10px 13px;
  border-radius: 100%;
}

@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 5px 10px;
    width: 120%;
    justify-content: space-between;
  }

  .transHeader{
    flex-direction: column;
    padding: 5px 10px;
    width: 120%;
    justify-content:space-between;
  }

  .headerLinksIndividual {
    padding: 5px 5px;
    margin: 10px;
  }

  .headerButtons {
    margin: 0px 50px;
  }
}
