.header, .transHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.header {
  background-color: rgb(243, 243, 243);
}

.headerName a {
  text-decoration: none;
  color: black;
}

.headerName h2 {
  font-size: 2em;
  font-family: "Play", sans-serif;
}

.headerLinks {
  display: flex;
  flex-direction: row;
}

.headerLinks a {
  text-decoration: none;
}

.headerLinksIndividual {
  padding: 10px 20px 0px 20px;
  border-radius: 5px;
}

.headerLinksIndividual:hover {
  background-color: rgb(233, 233, 233);
}

.headerLinksIndividual p {
  color: black;
}

.headerSearchBox input {
  padding: 10px 20px;
  margin: 5px 10px;
  border: none;
  background-color: rgb(233, 233, 233);
  border-radius: 20px;
}

.headerButtons {
  display: flex;
  flex-direction: row;
}

.headerButtons a {
  margin: 0px 5px;
  padding: 10px 13px;
  border-radius: 100%;
}

.headerProfileIcon {
  padding: 10px 13px;
  margin: 0px 5px;
  cursor: pointer;
}

.userDropdownContent {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 5px;
  left: 10px;
}

#headerLogin {
  background-color: #22cb00;
}

#headerLogin:hover {
  background-color: #27d803;
}

#headerSignupLogout {
  background-color: #ea2121;
}

#headerSignupLogout:hover {
  background-color: #f31717;
}

.userDropdownContent button {
  padding: 5px 15px;
  margin: 0px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.userDropdownContent button:hover {
  background-color: rgb(187, 187, 187);
}

.headerProUserName {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.headerProUserName p {
  margin-right: 15px;
}

/* Responsive Styles */
@media only screen and (max-width: 1200px) {
  .header, .transHeader {
    padding: 15px 30px;
  }

  .headerName h2 {
    font-size: 1.8em;
  }

  .headerLinksIndividual {
    padding: 10px 15px 0px 15px;
  }

  .headerSearchBox input {
    padding: 8px 15px;
  }
}

@media only screen and (max-width: 992px) {
  .header, .transHeader {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .headerName h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
  }

  .headerLinks {
    flex-direction: row;
    align-items: center;
  }

  .headerLinksIndividual {
    padding: 8px 10px;
    margin: 5px 0;
  }

  .headerButtons {
    margin-top: 10px;
  }

  .userDropdownContent {
    top: 5px;
    right: 0;
    flex-direction: column;
    align-items: center;
  }

  .userDropdownContent button {
    width: auto;
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .header, .transHeader {
    padding: 10px 10px;
  }

  .headerName h2 {
    font-size: 1.6rem;
    margin: 0px 15px;
  }

  .headerLinksIndividual {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 15px 0px 15px;
    margin: 10px 4px;
  }

  .headerLinksIndividual p {
    font-size: 13px;
  }

  .headerButtons {
    margin: 0px 20px;
  }

  .userDropdownContent {
    top: 5px;
    right: 0;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .userDropdownContent button {
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 14px;
    width: auto; /* Adjusted width to auto */
  }
}

@media only screen and (max-width: 576px) {
  .header, .transHeader {
    padding: 5px 10px;
  }

  .headerName h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  .headerLinksIndividual {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    margin: 3px 5px;
  }

  .headerButtons {
    margin-top: 5px;
  }

  .userDropdownContent button {
    font-size: 12px;
    padding: 5px 10px;
    width: auto;
  }
}
