*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: white;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.351);
}

.headerBrand{
    position: relative;
    padding: 0 30px;
    font-family: sans-serif;
    font-size: 1.1em;
    color: #d2242a;
}

.headerBrand h1 span{
    font-size: 0.6em;
}

.headerLinks ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.headerLinks ul li{
    padding: 0 20px;
    font-family: sans-serif;
    font-size: 1.1em;
}

.headerLinks ul li a{
    text-decoration: none;
    color: black;
}

.headerLinks ul li a:hover{
    color: #d2242a;
}

.headerButtons{
    position: relative;
    padding: 0 20px;
}

.headerButtons a{
    text-decoration: none;
    color: black;
    padding: 0 15px;
    font-family: sans-serif;
    font-size: 18px;
}

.headerButtons a span{
    padding: 0 5px;
}