/* .addProduct{
    display: flex;
    flex-direction: column;
    margin: 100px 50px;
}

.addProductSection{
    display: flex;
    margin: 20px 50px;
}

.addProductSection form{
    display: flex;
    flex-direction: column;
}

.addProductSection form label {
    margin: 5px 0px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.addProductSection form #input {
    width: 40vw;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(119, 119, 119, 0.533);
}

.addProductInputDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#AddProductBtn{
    width: 40vw;
    height: 40px;
    margin: 10px 0px;
    background-color: rgb(253, 62, 62);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#AddProductBtn:hover{
    background-color: rgb(214, 50, 50);
} */

/* AddProduct.css */

.addProduct {
  margin: 100px 50px;
}

.addProduct h1 {
  font-size: 30 px;
  margin-bottom: 20px;
}

.addProductSection {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
}

.addProductInputDiv {
  margin-bottom: 15px;
}

.addProductInputDiv label {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.addProductInputDiv input,
.addProductInputDiv textarea,
.addProductInputDiv select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* .addProductInputDiv input[type="number"] {
  -moz-appearance: textfield;
} */
.addProductInputDiv input {
  width: 98.5%;
}

.addProductInputDiv textarea {
  resize: vertical;
  width: 98.5%;
}

.addProductInputDiv select{
  width: 98.5%;
}

#AddProductBtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#AddProductBtn:hover {
  background-color: #0056b3;
}
