.addProduct{
    display: flex;
    flex-direction: column;
    margin: 100px 50px;
}

.addProductSection{
    display: flex;
    margin: 20px 50px;
}

.addProductSection form{
    display: flex;
    flex-direction: column;
}

.addProductSection form label {
    margin: 5px 0px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.addProductSection form #input {
    width: 40vw;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(119, 119, 119, 0.533);
}

.addProductInputDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#AddProductBtn{
    width: 40vw;
    height: 40px;
    margin: 10px 0px;
    background-color: rgb(253, 62, 62);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#AddProductBtn:hover{
    background-color: rgb(214, 50, 50);
}