.addProduct {
  margin: 100px 50px;
}

.addProduct h1 {
  font-size: 30 px;
  margin-bottom: 20px;
}

.addProductSection {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
}

.addProductInputDiv {
  margin-bottom: 15px;
}

.addProductInputDiv label {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.addProductInputDiv input,
.addProductInputDiv textarea,
.addProductInputDiv select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* .addProductInputDiv input[type="number"] {
  -moz-appearance: textfield;
} */
.addProductInputDiv input {
  width: 98.5%;
}

.addProductInputDiv textarea {
  resize: vertical;
  width: 98.5%;
}

.addProductInputDiv select {
  width: 98.5%;
}

#AddProductBtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#AddProductBtn:hover {
  background-color: #0056b3;
}
