.singleProduct {
  margin: 150px 0px;
}

.sinPrdTopSection {
  display: flex;
  flex-direction: row;
  margin: 0px 50px;
}

.sinPrdImgSection {
  display: flex;
  flex-direction: column;
}

.sinPrdImg {
  background-color: burlywood;
  height: 100px;
  width: 100px;
  margin: 10px 20px;
  cursor: pointer;
}

.sinPrdImg:hover {
  background-color: rgb(181, 145, 99);
}

#sinPrdImg {
  background-color: burlywood;
  height: 500px;
  width: 700px;
}

.sinPrdImgSelection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sinPrdDetailSection {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.sinPrdDetailSection h3 {
  margin: 5px 0px;
  color: rgb(95 95 95);
  font-weight: normal;
}

.sinPrdDetailSection p {
  margin: 20px 0px;
}

.sinPrdDetailsPrice {
  color: rgb(255, 59, 59);
  font-weight: bold;
}

.sinPrdDetailsSizes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: beige;
  border-radius: 10px;
}

.sinPrdSizes {
  display: flex;
  height: 50px;
  width: 50px;
  background-color: #ff5656;
  margin: 10px 0px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50px;
  font-size: 18px;
  color: white;
}

.sinPrdSizes:hover {
  background-color: #ef3737;
}

.sinPrdButtons {
  display: flex;
  margin: 0px 10px;
}

.sinPrdBtn {
  width: 10vw;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 100px;
}

#sinPrdBtn2 {
  background-color: rgb(255, 59, 59);
  color: white;
}

#sinPrdBtn2:hover{
    background-color: rgb(235, 33, 33)
}

#sinPrdBtn1{
    color: rgb(255, 59, 59);
}

#sinPrdBtn1:hover{
    background-color: rgb(223, 223, 223);
}
