.singleProduct {
  margin: 150px 0px;
}

.sinPrdTopSection {
  display: flex;
  flex-direction: row;
  margin: 0px 50px;
  justify-content: space-evenly;
}

.sinPrdImgSection {
  display: flex;
  flex-direction: column;
}

.sinPrdImg {
  background-color: burlywood;
  height: 100px;
  width: 100px;
  margin: 10px 20px;
  cursor: pointer;
}

.sinPrdImg:hover {
  background-color: rgb(181, 145, 99);
}

#sinPrdImg {
  height: 65vh;
  width: 25vw;
  transition: 0.3s transform ease;
}

#sinPrdImg:hover{
  transform: scale(1.05);
}

.sinPrdImgSelection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sinPrdDetailSection {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.sinPrdDetailSection h3 {
  margin: 5px 0px;
  color: rgb(95 95 95);
  font-weight: normal;
}

.sinPrdDetailSection p {
  margin: 20px 0px;
}

.sinPrdDetailsPrice {
  margin-top: 5px;
  color: rgb(19, 149, 14);
  font-weight: bold;
}

.sinPrdDetailsSizes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: beige;
  border-radius: 5px;
}

.sinPrdSizes {
  display: flex;
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  margin: 10px 0px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.sinPrdSizes:hover {
  background-color: #e2ffd1;
}

.sinPrdButtons {
  display: flex;
  margin: 0px 10px;
}

.sinPrdBtn {
  width: 10vw;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 150px;
}

#sinPrdBtn2 {
  background-color: rgb(255, 59, 59);
  color: white;
}

#sinPrdBtn2:hover{
    background-color: rgb(235, 33, 33)
}

#sinPrdBtn1{
    color: rgb(255, 59, 59);
}

#sinPrdBtn1:hover{
    background-color: rgb(223, 223, 223);
}


.sinPrdQuantity button{
  padding: 7px 15px;
  margin: 10px;
  border: none;
  border-radius: 10vw;
}

.sinPrdQuantity button:hover{
  background-color: rgb(196, 196, 196);
}

@media only screen and (max-width: 768px) {
  .singleProduct{
    margin: 220px 0px;
  }

  .sinPrdTopSection {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
  }

  .sinPrdImg {
    display: flex;
    justify-content: center;
  }

  #sinPrdImg {
    background-color: burlywood;
    height: 400px;
    width: 400px;
  }

  .sinPrdDetailSection {
    margin-left: 20px;
    margin-top: 10px;
}

.sinPrdDetailsPrice{
  position: relative;
  right: 130px;
}

.sinPrdBtn {
  width: 33.5vw;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}
}