@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
.admHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: rgb(243, 243, 243);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.admTransHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.admHeaderName h2 {
  font-size: 2em;
  font-family: "Play", sans-serif;
}

.admHeaderName a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.admHeaderLinks {
  display: flex;
  flex-direction: row;
}

.admHeaderLinks a {
  text-decoration: none;
}

.admHeaderLinksIndividual {
  padding: 10px 20px;
  border-radius: 5px;
  height: 45px;
}

.admHeaderLinksIndividual:hover {
  background-color: rgb(233, 233, 233);
}

.admHeaderLinksIndividual p {
  color: black;
}

.admHeaderSearchBox input {
  padding: 10px 20px;
  margin: 5px 10px;
  border: none;
  background-color: rgb(233, 233, 233);
  border-radius: 20px;
}

.admHeaderButtons {
  display: flex;
  flex-direction: row;
}

.admHeaderButtons a {
  margin: 0px 5px;
  padding: 10px 13px;
  border-radius: 100%;
}


.admDropdownContent {
  display: block;
  position: absolute;
  top: 70px;
  right: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 7px 1px rgb(0 0 0 / 14%);
  z-index: 1;
}

.admDropdownContent button {
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  border: none;
  background-color: #cfcfcf;
  border-radius: 10px;
  cursor: pointer;
}

.admDropdownContent button:hover {
  background-color: #f1f1f1;
}

.admHeaderProfileIcon{
  padding: 10px 13px;
  margin: 0px 5px;
  cursor: pointer;
}

.admUserDropdownContent {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 70px;
  right: 20px;
}

.admUserDropdownContent button{
  padding: 5px 15px;
  margin: 0px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admUserDropdownContent button:hover{
  background-color: rgb(187, 187, 187);
}

@media only screen and (max-width: 768px) {
  .admHeader {
    flex-direction: column;
    padding: 10px 10px;
    width: 120%;
    justify-content: space-between;
  }

  .admTransHeader{
    flex-direction: column;
    padding: 10px 10px;
    width: 120%;
    justify-content: space-between;
  }

  .admHeaderLinksIndividual {
    padding: 5px 10px;
    margin: 10px 10px;
  }

  .admHeaderButtons {
    margin: 0px 50px;
  }
}
