@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
.admHeader,
.admTransHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.admHeader {
  background-color: rgb(243, 243, 243);
}

.admHeaderName h2 {
  font-size: 2em;
  font-family: "Play", sans-serif;
}

.admHeaderName a {
  text-decoration: none;
  color: black;
}

.admHeaderLinks {
  display: flex;
  flex-direction: row;
}

.admHeaderLinks a {
  text-decoration: none;
}

.admHeaderLinksIndividual {
  padding: 10px 20px 0px 20px;
  border-radius: 5px;
}

.admHeaderLinksIndividual:hover {
  background-color: rgb(233, 233, 233);
}

.admHeaderLinksIndividual p {
  color: black;
}

.admHeaderSearchBox input {
  padding: 10px 20px;
  margin: 5px 10px;
  border: none;
  background-color: rgb(233, 233, 233);
  border-radius: 20px;
}

.admHeaderButtons {
  display: flex;
  flex-direction: row;
}

.admHeaderButtons a {
  margin: 0px 5px;
  padding: 10px 13px;
  border-radius: 100%;
}

.admDropdownContent {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 5px;
  left: 10px;
}

.admDropdownContent button {
  padding: 5px 15px;
  margin: 0px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #ea2121;

}

.admDropdownContent button:hover {
  background-color: #f31717;
}

.admHeaderProfileIcon {
  padding: 10px 13px;
  margin: 0px 5px;
  cursor: pointer;
}

.admUserDropdownContent {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 70px;
  right: 20px;
}

@media only screen and (max-width: 768px) {
  .admHeader,
  .admTransHeader {
    padding: 15px 30px;
  }

  .admHeaderName h2 {
    font-size: 1.8em;
  }

  .admHeaderLinksIndividual {
    padding: 10px 15px 0px 15px;
  }
}

@media only screen and (max-width: 500px) {
  .admHeader,
  .admTransHeader {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .admHeaderName h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
  }

  .admHeaderLinks {
    flex-direction: row;
    align-items: center;
  }

  .admHeaderLinksIndividual {
    padding: 8px 10px;
    margin: 5px 0;
  }

  .admHeaderButtons {
    margin-top: 10px;
  }

  .admDropdownContent {
    top: 5px;
    right: 0;
    flex-direction: column;
    align-items: center;
  }

  .admDropdownContent button {
    width: auto;
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .admHeader,
  .admTransHeader {
    padding: 10px 10px;
  }

  .admHeaderName h2 {
    font-size: 1.6rem;
    margin: 0px 15px;
  }

  .admHeaderLinksIndividual {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 15px 0px 15px;
    margin: 10px 4px;
  }

  .admHeaderLinksIndividual p {
    font-size: 13px;
  }

  .admHeaderButtons {
    margin: 0px 20px;
  }

  .admDropdownContent {
    top: 5px;
    right: 0;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .admDropdownContent button {
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 14px;
    width: auto; /* Adjusted width to auto */
  }
}

@media only screen and (max-width: 576px) {
  .admHeader,
  .admTransHeader {
    padding: 5px 10px;
  }

  .admHeaderName h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  .admHeaderLinksIndividual {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    margin: 3px 5px;
  }

  .admHeaderButtons {
    margin-top: 5px;
  }

  .admDropdownContent button {
    font-size: 12px;
    padding: 5px 10px;
    width: auto;
  }
}
