.a a{
    text-decoration: none;
}

.productCard {
    width: 350px;
    height: 575px;
    padding: 15px 10px;
    border-radius: 5px;
}

.productImg{
    /* background-color: burlywood; */
    background: url('../../../Assets/Images/example.webp');
    height: 350px;
    width: 350px;
    background-position: center;
    background-size: contain;
}

.productDetails{
    margin: 20px 0px;
}

.productDetails a{
    text-decoration: none;
}

.productDetails h2 {
    margin-bottom: 10px;
    color: black;
}

.productDetails h3 {
    color: #ff4444;
    font-size: 25px;
    margin: 15px 0px;
}

.productDetails p{
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(16, 15, 15);
}

#prdCardHr {
    background-color: rgb(0 0 0 / 12%);
    height: 1px;
    border: none;
    margin: 10px 0px;
}

.productBtn {
    display: flex;
    margin: 20px 0px;
    justify-content: center;
    flex-direction: row;
}

.productBtn button {
    margin: 0px 5px;
    width: 90%;
    padding: 10px 0px;
    cursor: pointer;
    background-color: #dadada;
    border: none;
    border-radius: 50px;
    font-size: 15px;
}

#prdCardBtnCart{
    background-color: #ff4444;
    color: white;
}

#prdCardBtnCart:hover{
    background-color: #ff2525;
}

#prdCardBtnWishlist:hover{
    background-color: #ff4444;
    color: white;
}

#prdCardBtnWishlist{
    background-color: white;
    color: #ff4444;
    border: 1px solid #ff4444;
}