/* .Mens {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 150px;
    background-color: #f0f0f045;
}

.MensHeading{
    margin-left: 50px;
}


@media only screen and (max-width: 768px){

    .Mens{
        padding-top: 200px;
    }

    .MensHeading{
        margin-left: 90px;
    }
} */