.editProduct {
  margin: 100px 50px;
}

.editProduct h1 {
  font-size: 30 px;
  margin-bottom: 20px;
}

.editProductSection {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
}

.editProductInputDiv {
  margin-bottom: 15px;
}

.editProductInputDiv label {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.editProductInputDiv input,
.editProductInputDiv textarea,
.editProductInputDiv select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* .addProductInputDiv input[type="number"] {
  -moz-appearance: textfield;
} */
.editProductInputDiv input {
  width: 98.5%;
}

.editProductInputDiv textarea {
  resize: vertical;
  width: 98.5%;
}

.editProductInputDiv select {
  width: 98.5%;
}

#editProductBtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#editProductBtn:hover {
  background-color: #0056b3;
}
