.categories {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-top: 150px;
  background-color: #f0f0f045;
}

.categoriesHeading {
  margin-left: 90px;
}

.categoriesGrids {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto;
  row-gap: 30px;
  column-gap: 10px;
  margin: 50px 0px;
}

.categoriesGrids a {
  text-decoration: none;
  color: black;
}

.categoriesName {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 250px;
  align-items: center;
  background-position: center;
  background-size: cover;
  transition: 0.2s transform ease;
}

#sneaker {
  background: url("../../../../public/images/Sneakers-min.png");
  background-position: center;
  background-size: cover;
}

#casuals {
  background: url("../../../../public/images/Casuals-min.png");
  background-position: center;
  background-size: cover;
}

#formals {
  background: url("../../../../public/images/Formals-min.png");
  background-position: center;
  background-size: cover;
}

#sandals {
  background: url("../../../../public/images/Sandals-min.png");
  background-position: center;
  background-size: cover;
}

.categoriesName:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
  .categories {
    padding-top: 200px;
  }

  .categoriesGrids {
    grid-template-columns: auto;
  }

  .categoriesHeading {
    margin-left: 90px;
  }
}
