.loginUser{
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}

.loginUsrh1{
  font-size: 2em;
  font-family: "Play", sans-serif;
}


.loginUsr {
  display: flex;
  flex-direction: row;
  margin: 100px 0px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2px;
}

.loginSection{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  height: 57vh;
}

.loginSection form{
  padding: 0px 50px;
}

.loginSection form h1{
  font-size: 2.5em;
  margin-bottom: 10px;
}

.loginUsername, .loginPassword{
  display: flex;
  flex-direction: column;
}

.loginUsername{
  margin-top: 20px;
}

.loginUserInput div label{
  margin: 10px 0px;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.loginPassword{
  margin-bottom: 10px;
}

.loginSubmit{
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginSubmit button{
  height: 6vh;
  width: 26vw;
  padding: 10px 50px;
  background-color: rgb(206, 68, 37);
  color: white;
  cursor: pointer;
  border: none;
  font-size: 18px;
  border-radius: 2px;
}

.loginSubmit button:hover{
  background-color: rgb(228, 82, 49);
}

.loginInput {
  padding: 10px 10px;
  border: none;
  width: 25vw;
  height: 4vh;
  border-radius: 2px;
  border: solid 1px #eaeaea;
}

.loginOr{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginCreateAccount{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginCreateAccount button{
  height: 6vh;
  width: 26vw;
  padding: 10px 50px;
  color: rgb(206, 68, 37);
  background-color: white;
  cursor: pointer;
  border: solid 1px rgb(206, 68, 37) ;
  font-size: 18px;
  border-radius: 2px;
}

.loginCreateAccount button:hover{
  color: white;
  background-color: rgb(206, 68, 37);
}


.loginImage {
  height: 500px;
  width: 500px;
  background-color: burlywood;
  margin-left: 50px;
}

@media only screen and (max-width: 768px){

  .loginImage{
    display: none;
  }

  .loginInput{
    width: 60vw;
  }

  .loginSubmit button{
    width: 60vw;
  }

  .loginCreateAccount button {
    width: 60vw;
  }
}