/* Orderlist.css */

.adminOrders {
  margin: 100px 20px;
}

.orderHeading {
  margin: 20px 0;
}

.totalOrders {
  margin: 10px 0;
  font-family: sans-serif;
  display: flex;
  justify-content: end;
}

.orderTable {
  width: 100%;
  border-collapse: collapse;
}

.orderTable th, .orderTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.orderTable th {
  background-color: #f2f2f2;
  text-align: left;
}

.orderTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.orderTable tbody tr:hover {
  background-color: #ddd;
}

.productImage img {
  height: 100px;
  max-width: 100px;
}

.orderID, .userName, .productName, .quantity, .price, .date, .action {
  font-family: sans-serif;
}

.action button {
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  border: none;
  background-color: #fe1616;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  font-family: sans-serif;
  cursor: pointer;
}

.action button:hover {
  background-color: #d22222;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .adminOrders {
      margin: 80px 15px;
      position: relative;
      top: 50px;
  }

  .orderHeading {
      margin: 15px 0;
  }

  .totalOrders {
      margin: 8px 0;
      font-size: 20px;
  }

  .orderTable th, .orderTable td {
      padding: 6px;
  }

  .action button {
      height: 45px;
      font-size: 14px;
  }
}

@media (max-width: 768px) {
  .adminOrders {
      margin: 60px 10px;
      position: relative;
      top: 100px;
  }

  .orderHeading {
      margin: 10px 0;
      font-size: 30px;
  }

  .totalOrders {
      margin: 5px 0;
      font-size: 20px;
  }

  .orderTable th, .orderTable td {
      padding: 4px;
  }

  .action button {
      height: 40px;
      font-size: 13px;
  }
}

@media (max-width: 480px) {
  .adminOrders {
      margin: 40px 5px;
  }

  .orderHeading {
      margin: 8px 0;
      font-size: 18px;
  }

  .totalOrders {
      margin: 3px 0;
      font-size: 10px;
      justify-content: center;
  }

  .orderTable th, .orderTable td {
      padding: 3px;
      font-size: 12px;
  }

  .action button {
      height: 35px;
      font-size: 12px;
  }

  .action button {
      width: auto;
  }
}
